@charset "UTF-8";
body{
    margin: auto;
}
.eJEMVp {
    margin : auto;
    width: 576px;
    position: relative;
    height: 959px;
    background-color: white;
    padding-top: 0%;
   
}

*{
    font-family: 'the';
}

#back {
    background-color: antiquewhite;
}

#wrapper{
    height: auto;
    min-height: 57.5%;
    padding-bottom: 80px;
    position: relative;
}

.footer1{
    height: 80px;
    position: relative;
    transform: translateY(-100%);
}

.ft{
         position: absolute;

    left: 0;

    bottom: 5px;

    width: 100%;
        }
        
        .ft2{
        position: absolute;
         left: 0;

    bottom: 20px;
    width: 100%;
        }
#wrapper2{
    height: auto;
min-height: 10.58%;
padding-bottom: 80px;
position: relative;
}

#wrapper3 {
    height: auto;
    min-height: 67%;
    padding-bottom: 0px;
    position: initial;
}

#wrapper4 {
    height: auto;
    min-height: 37.5%;
    padding-bottom: 80px;
    position: relative;
}
#wrapper5 {
    height: auto;
    min-height: 39%;
    padding-bottom: 80px;
    position: relative;
}

#wrapper6 {
    height: auto;
    min-height: 58.5%;
    padding-bottom: 80px;
    position: relative;
}

#wrapper7 {
    height: auto;
    min-height: 18%;
    padding-bottom: 80px;
    position: relative;
}

#wrapper8 {
    height: auto;
    min-height:27.5%;
    padding-bottom: 80px;
    position: relative;
}

#wrapper9 {
    height: auto;
    min-height: 62.2%;
    padding-bottom: 80px;
    position: relative;
}





        ul,
        li {
            list-style-type: none;
        }

        .scroll_list{
            overflow-x: auto;
            overflow-y: hidden;
            scroll-behavior: smooth;
            white-space: nowrap;
            margin-left: 0;
          
        }

        .list_item {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.list_track_row {
    display: table;
    width: 100%;
    height: 50px;
    padding: 10px 0;
    vertical-align: middle;
    table-layout: fixed;
}

.thumb {
    display: table-cell;
    width: 50px;
    vertical-align: middle;
}

.list_wrap_track_rank .thumb .inner {
    position: relative;
    width: 50px;
    height: 50px
px
;
}
.song_area {
    display: table-cell;
    padding: 4px 20px 0 8px;
    vertical-align: top;
}

.list_wrap_track_rank .song {
    height: 20px;
}

.song .title {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    max-width: 100%;
    position: relative;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -.1px;
    color: black;
}

.list_wrap_track_rank .artist {
    height: 19px;
    margin-top: 3px;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -.1px;
    color: #888;
}

.box{
    display: block;
}



.box {
    position: sticky;
    max-width: 50%;
    max-height: 50%;
}



/* #img1{
filter: opacity(0.5) drop-shadow(0 0 0 red);
} */
.video_modal_popup.reveal {
display: flex;
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
justify-content: center;
align-items: center;
z-index:9
}
.video_modal_popup{
display: none;
}
.video_modal_popup .video-wrapper {
position: relative;
width: 80%;
padding-bottom: 45%;
z-index: 10
}

.video_modal_popup .video-wrapper iframe {
position: absolute;
align-items: center;
left: 50%;
top: 50%;
margin-left: -150px;
margin-top: -150px;

}

.video_modal_popup.reveal .video_modal_popup-closer {
position: fixed;
width: 600px;
height: 1000px;
background: rgba(0, 0, 0, .2);
z-index: 9
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.music {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 300px;
  height: 200px;
}

.music .bar {
  width: 12px;
  height: 2px;
  border-radius: 10px;
  background-color: white;
  animation: up_down 1.5s ease-in-out infinite;
}

@keyframes up_down {
  0%,
  100% {
    height: 2px;
  }
  50% {
    height: 80px;
  }
}

.music .bar:nth-child(1) {
  background-color: purple;
  animation-delay: 1s;
}

.music .bar:nth-child(2) {
  background-color: crimson;
  animation-delay: 0.8s;
}

.music .bar:nth-child(3) {
  background-color: deeppink;
  animation-delay: 0.6s;
}

.music .bar:nth-child(4) {
  background-color: orange;
  animation-delay: 0.4s;
}

.music .bar:nth-child(5) {
  background-color: gold;
  animation-delay: 0.2s;
}

.music .bar:nth-child(6) {
  background-color: gold;
  animation-delay: 0.2s;
}

.music .bar:nth-child(7) {
  background-color: orange;
  animation-delay: 0.4s;
}

.music .bar:nth-child(8) {
  background-color: deeppink;
  animation-delay: 0.6s;
}

.music .bar:nth-child(9) {
  background-color: crimson;
  animation-delay: 0.8s;
}

.music .bar:nth-child(10) {
  background-color: purple;
  animation-delay: 1s;
}

@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*:after,
*:before {
  box-sizing: border-box;
}

*{
  font-family: 'the';
}

:root {
  --c-gray-100: #fbf8f2;
  --c-gray-200: #fcfdfe;
  --c-gray-300: #e9ebec;
  --c-gray-400: #e3e4ea;
  --c-gray-500: #5f5f5f;
  --c-gray-900: #1d1d1d;
  --c-blue-300: #a8dee2;
  --c-blue-500: #2ab3c0;
  --c-green-500: #80b895;
  --c-green-300: #bad5ca;
  --c-red-500: #ea605e;
  --c-yellow-300: #f8e0b1;
  --c-yellow-500: #f9bc73;
  --rotation: -3deg;
}

/* body {
  font-family: "the", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  padding-top: 5vw;
  padding-bottom: 5vw;
  background-color: var(--c-gray-400);
} */

img {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
}

.phone {
  width: 460px;
  border-radius: 25px;
  overflow: hidden;
  padding: 2rem;
  box-shadow: 0 0 0 10px var(--c-gray-300), 0 0 0 11px var(--c-gray-200);
  background-color: #fff;
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: grid;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  grid-template-columns: 1fr 2fr 1fr;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
 /*  background-color: var(--c-blue-300);
  border: 2px solid var(--c-gray-900); */
  border-radius: 15px;
}
.header-logo div {
  display: flex;
  flex-wrap: wrap;
  width: 24px;
  height: 24px;
}
.header-logo span {
  display: block;
  width: 12px;
  height: 12px;
  border: 2px solid var(--c-gray-900);
  background-color: var(--c-yellow-500);
  border-radius: 50%;
}

.header-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
}

.header-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.notifications {
  padding: 0;
  border: 0;
  background-color: transparent;
  margin-right: 1rem;
  position: relative;
  transform-origin: center center;
  transition: 0.15s ease;
  cursor: pointer;
}
.notifications:hover, .notifications:focus {
  transform: rotate(10deg);
}
.notifications i {
  font-size: 1.75rem;
  color: #454545;
}
.notifications:after {
  right: -8px;
  top: 3px;
  content: "2";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 20px;
  height: 20px;
  font-size: 0.75rem;
  background-color: var(--c-red-500);
  border-radius: 50%;
  font-weight: 800;
  border: 2px solid var(--c-gray-900);
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  padding: 0;
  border-radius: 15px;
  overflow: hidden;
  border: 3px solid #fff;
  box-shadow: 0 8px 10px -4px rgba(0, 0, 0, 0.2);
  transform-origin: center center;
  transition: 0.15s ease;
  cursor: pointer;
}
.avatar:hover, .avatar:focus {
  transform: translatey(-4px);
  box-shadow: 0 12px 14px -4px rgba(0, 0, 0, 0.3);
}

.title {
  margin-top: 1rem;
}
.title h1 {
  font-size: 1.5rem;
  font-weight: 700;
}
.title p {
  font-size: 1rem;
  color: var(--c-gray-500);
  margin-top: 0.375em;
}

.search {
  position: relative;
  z-index: 1;
  transition: 0.15s ease;
}
.search:hover, .search:focus-within {
  transform: translatey(-2px);
}

.search-inner {
  display: flex;
  align-items: center;
  border: 2px solid var(--c-gray-900);
  border-radius: 15px;
  height: 60px;
  font-size: 1rem;
  width: 100%;
  background-color: #fff;
  position: relative;
  margin-top: 2rem;
}
.search-inner:after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 96%;
  height: 100%;
  bottom: -9px;
  left: calc(50% - 48%);
  border-radius: 20px;
  border: 2px solid var(--c-gray-900);
  background-color: var(--c-gray-100);
  transition: 0.15s ease;
}
.search-inner:hover input::-moz-placeholder, .search-inner:focus-within input::-moz-placeholder {
  color: #787878;
}
.search-inner:hover input:-ms-input-placeholder, .search-inner:focus-within input:-ms-input-placeholder {
  color: #787878;
}
.search-inner:hover input::placeholder, .search-inner:focus-within input::placeholder {
  color: #787878;
}
.search-inner:hover:after, .search-inner:focus-within:after {
  transform: translatey(2px);
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px 0 0 15px;
  border: 0;
  background-color: var(--c-gray-100);
  position: relative;
  height: 100%;
  border-right: 2px solid var(--c-gray-900);
  width: 70px;
  transition: 0.15s ease;
  cursor: pointer;
  border-radius: 20%;
}
.search-button i {
  font-size: 1.25em;
}
.search-button:focus, .search-button:hover {
  background-color: var(--c-yellow-300);
  outline: 0;
}

.search-input {
  border: 0;
  border-radius: 0 15px 15px 0;
  height: 100%;
  background-color: #fff;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 30%;
}
.search-input:focus {
  outline: 0;
}
.search-input::-moz-placeholder {
  font-weight: 600;
  color: var(--c-gray-900);
  -moz-transition: 0.15s ease;
  transition: 0.15s ease;
}
.search-input:-ms-input-placeholder {
  font-weight: 600;
  color: var(--c-gray-900);
  -ms-transition: 0.15s ease;
  transition: 0.15s ease;
}
.search-input::placeholder {
  font-weight: 600;
  color: var(--c-gray-900);
  transition: 0.15s ease;
}

.navigation {
  margin-top: 2rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid var(--c-gray-900);
  display: flex;
  justify-content: space-between;
}

.navigation-item {
  font-size: 1.125rem;
  display: inline-block;
  padding: 0 0.5rem;
  text-decoration: none;
  color: inherit;
  position: relative;
  z-index: 1;
  font-weight: 500;
}
.navigation-item.active {
  font-weight: 800;
}
.navigation-item.active:before {
  background-color: var(--c-yellow-500);
}
.navigation-item:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 14px;
  background-color: transparent;
  z-index: -1;
  bottom: -2px;
  left: 0;
  transition: 0.15s ease;
}
.navigation-item + .navigation-item {
  margin-left: 1.25rem;
}
.navigation-item:hover:before, .navigation-item:focus {
  background-color: var(--c-yellow-500);
}

.playlists {
  margin-top: 1.5rem;
  display: flex;
  padding: 2rem 0.5rem;
}

.currently-playing {
  padding: 1rem 0.5rem;
}

.card {
  width: 200px;
  transform: rotate(var(--rotation));
  transition: 0.15s ease-out;
}
.card:nth-child(2) {
  margin-top: 1rem;
  --rotation: 5deg;
}
.card:nth-child(2) .card-inner:after {
  background-color: var(--c-green-300);
}
.card:nth-child(2) .card-pin {
  top: 20px;
  left: 20px;
  transform: rotate(-5deg);
}
.card + .card {
  margin-left: 2rem;
}
.card:hover, .card:focus-within {
  transform: translateY(4px) rotate(var(--rotation));
}
.card:hover .card-inner, .card:focus-within .card-inner {
  background-color: var(--c-gray-100);
}
.card:hover .card-pin:after, .card:focus-within .card-pin:after {
  height: 54px;
}
.card:hover .card-pin:before, .card:focus-within .card-pin:before {
  transform: translatey(-4px);
}
.card.horizontal {
  width: 100%;
  transform: rotate(3deg);
}
.card.horizontal .card-inner {
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}
.card.horizontal .card-inner:after {
  background-color: var(--c-green-500);
}
.card.horizontal .card-image {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}
.card.horizontal .card-content {
  width: 100%;
  margin-top: 0;
  margin-left: 0.5rem;
}
.card.horizontal .card-meta-artist {
  font-weight: 700;
}
.card.horizontal .card-title {
  font-weight: 500;
  color: var(--c-gray-500);
  font-size: 1.125em;
  margin-top: 0.125em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card.horizontal .card-time {
  font-weight: 600;
}
.card.horizontal:hover .card-pin.simple:before,
.card.horizontal:hover .card-pin.simple:after, .card.horizontal:focus-within .card-pin.simple:before,
.card.horizontal:focus-within .card-pin.simple:after {
  transform: none;
}
.card.horizontal:hover .card-pin.simple:after, .card.horizontal:focus-within .card-pin.simple:after {
  height: 50px;
}

.card-inner {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--c-gray-900);
  border-radius: 20px;
  padding: 0.5rem;
  background-color: #fff;
  position: relative;
}
.card-inner:after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 95%;
  height: 100%;
  bottom: -9px;
  left: calc(50% - 47.5%);
  border-radius: 20px;
  border: 2px solid var(--c-gray-900);
  background-color: var(--c-yellow-300);
}

.card-pin {
  width: 12px;
  height: 12px;
  background-color: var(--c-gray-900);
  position: absolute;
  top: 20px;
  left: calc(50% - 6px);
  border-radius: 50%;
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--c-gray-900);
  transform: rotate(3deg);
  z-index: 1;
}
.card-pin:before, .card-pin:after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  transition: 0.15s ease-out;
}
.card-pin:before {
  width: 12px;
  height: 12px;
  background-color: var(--c-gray-900);
  border-radius: 50%;
  left: calc(50% - 6px);
  top: -44px;
}
.card-pin:after {
  width: 6px;
  background-color: #fff;
  border: 1px solid;
  border-radius: 99em;
  height: 50px;
  left: calc(50% - 3px);
  bottom: 3px;
}
.card-pin.simple {
  box-shadow: none;
}
.card-pin.simple:nth-of-type(odd) {
  left: 10px;
  top: 10px;
  transform: rotate(-45deg);
}
.card-pin.simple:nth-of-type(even) {
  left: calc(100% - 20px);
  top: calc(100% - 20px);
  transform: rotate(120deg);
}

.card-image {
  border-radius: 15px;
  overflow: hidden;
  aspect-ratio: 4/3;
  position: relative;
}
.card-image img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-meta,
.card-title {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.card-meta {
  padding-top: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-meta-number {
  color: var(--c-gray-500);
  font-size: 0.875rem;
  font-weight: 500;
}

.card-meta-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  color: var(--c-gray-900);
  flex-shrink: 0;
  cursor: pointer;
  padding: 0;
  line-height: 0;
  border-radius: 50%;
  background-color: transparent;
}
.card-meta-button i {
  font-size: 1.75rem;
}
.card-meta-button:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card-title {
  margin-top: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.menu-inner {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  border: 2px solid var(--c-gray-900);
  justify-content: space-between;
  padding: 0.75rem;
  background-color: var(--c-blue-500);
  position: relative;
}
.menu-inner:after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 95%;
  height: 100%;
  bottom: -9px;
  left: calc(50% - 47.5%);
  border-radius: 20px;
  border: 2px solid var(--c-gray-900);
  background-color: var(--c-gray-100);
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #fff;
  width: 80px;
  border-radius: 15px;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid transparent;
}
.menu-item:hover, .menu-item:focus, .menu-item.active {
  border-color: var(--c-gray-900);
  background-color: var(--c-yellow-500);
  color: var(--c-gray-900);
}

*,
*:focus {
  outline: 0;
}



