<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.EmotionsMapper">


	<insert id="join" parameterType="com.smhrd.domain.InfoDTO">
		insert into info
		values(#{id},
		#{pw}, #{nick}, #{gender}, #{age})
	</insert>

	<select id="login" resultType="com.smhrd.domain.InfoDTO"
		parameterType="com.smhrd.domain.InfoDTO">
		select * from info
		where id = #{id} and pw = #{pw}
	</select>


	<update id="update" parameterType="com.smhrd.domain.InfoDTO">
		update info set pw = #{pw},
		nick = #{nick}
		where id=#{id}
	</update>


	<select id="select" resultType="com.smhrd.domain.InfoDTO">
		select * from info where id=#{id}
	</select>

	<delete id="delete" parameterType="com.smhrd.domain.InfoDTO">
		delete from info where 
		id = #{id} and pw = #{pw}
	</delete>
	
	<delete id="gooddelete" parameterType="String">
		delete from good where  id = #{id}
	</delete>
	
	<delete id="baddelete" parameterType="String">
		delete from bad where id = #{id}
	</delete>

	<select id="songList" resultType="com.smhrd.domain.SongDTO">
		select * from song
	</select>
	
	<select id="kbsongList" resultType="com.smhrd.domain.SongDTO" parameterType="int">
		select * from song where song_num in (#{num})
	</select>

	<insert id="songinsert" parameterType="com.smhrd.domain.GoodDTO">
		insert into good
		values(#{id}, #{song_num})
	</insert>

	<delete id="songdelete" parameterType="com.smhrd.domain.GoodDTO">
		delete from good where id
		= #{id} and song_num = #{song_num}
	</delete>

	<delete id="hatedelete" parameterType="com.smhrd.domain.BadDTO">
		delete from bad where id =
		#{id} and song_num = #{song_num}
	</delete>


	<insert id="hateinsert" parameterType="com.smhrd.domain.BadDTO">
		insert into bad
		values(#{id}, #{song_num})
	</insert>

	<select id="locationList"
		resultType="com.smhrd.domain.LocationDTO">
		select * from location
	</select>

	<select id="songpreview" resultType="String" parameterType="int">
		select link
		from song where song_num = #{num}
	</select>

	<select id="songpractice" resultType="String"
		parameterType="int">
		select preview
		from song where song_num = #{num}
	</select>


	<select id="lyrics" parameterType="int" resultType="String">
		select lyrics
		from song where song_num = #{num}
	</select>

		<select id="lyrics2" parameterType="int" resultType="String">
		select lyrics
		from chart where song_se = #{num}
	</select>
	
	<!--아이디 닉네임 중복 값 확인 -->
	<select id="idCheck" parameterType="String" resultType="int">
		SELECT
		COUNT(id) FROM info WHERE id= #{id}
	</select>


	<select id="checknick" parameterType="String" resultType="int">
		SELECT
		COUNT(nick) FROM info WHERE nick= #{nick}
	</select>

	<select id="chartList" resultType="com.smhrd.domain.ChartDTO">
	    select * from chart
	</select>

	<select id="goodList" resultType="int">
	    select song_num from good where id = #{id}
	</select>
	
	<select id="badList" resultType="int">
	    select song_num from bad where id = #{id}
	</select>
		
	<select id="kakaoinfo" resultType="com.smhrd.domain.InfoDTO">
	    select * from info
	</select>
	
	<!-- 차프 페이징 -->
	<select id="getListPaging" resultType="com.smhrd.domain.ChartDTO">
	     <![CDATA[
        
        select  * from(
        
                select  rownum  as rn, song_se, song_title, singer, img, lyrics, link, preview
                  
                from chart where rownum <= #{pageNum} * #{amount}) 
                
        where rn > (#{pageNum} -1) * #{amount}
    
    ]]>
	</select>
</mapper>